.exchangedata {
  min-height: 100vh;
  .container {
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    background-color: #171717;
    padding: 72px 0 70px;
  }
}

.exchangedata-box {
  padding-top: 70px;
  display: table;
  max-width: 900px;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.exchangedata-box.conversion {
  // max-width: unset;
  width: unset;
  .exchangedata__table-line {
    td:first-child {
      p:first-child {
        display: inline-block;
        padding-right: 20px;
      }
      p:last-child {
        display: inline-block;
        padding-left: 20px;
      }
    }
  }
  td:last-child,
  th:last-child {
    padding-right: 20px;
  }
  .exchangedata__table {
    width: unset;
    width: 350px;
    margin: 0 auto;
  }
  .exchangedata__title p {
    font-size: 20px;
  }
}

.exchangedata__subtitle{
  max-width: 900px;
  margin: 0 auto;
  font-size: 50px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.2);
  padding-top: 70px;
}

.exchangedata__table {
  text-align: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.5);
  .pay-types {
    text-align: left;
  }
  th,
  td {
    padding: 13px 0;
    &:first-child {
      padding-left: 20px;
    }
  }
}
.exchangedata__table-line {
  color: rgba(255, 255, 255, 0.7);
  background: #0d0d0d;
  border-top: 5px solid #171717;
}
.exchangedata__title {
  color: rgba(255, 255, 255, 0.2);
  font-size: 40px;
  font-weight: 700;
  // opacity: 0.2;
  text-align: left;
  margin-bottom: 30px;
}
