body {
	&::-webkit-scrollbar {
		width: 5px;
	}
	&::-webkit-scrollbar-track {
		background: #161616;
	}
	&::-webkit-scrollbar-thumb {
		background-color: #2c2c2c;
		border-radius: 5px;
	}
}
.profile {
}
.profile_inner {
	display: flex;
	justify-content: center;
	position: relative;
	padding-top: 72px;
}
.profile_box {
	// background-color: #000;
	&:first-child {
		margin-right: 10px;
	}
	&:last-child {
		width: 370px;
		position: relative;
	}
}
.profile_info {
	background-color: #0d0d0d;
	box-shadow: 0px 0px 13px 0px rgba(0, 0, 0, 0.2);
	padding: 50px 65px 100px;
}
