.subscription {
  padding: 30px 0 45px;
}
.title{
  font-size: 24px;
  font-weight: 700;
  color: #636264;
  text-align: center;
  margin-bottom: 30px;
  p{
    font-weight: 400;
    display: inline-block;
    margin: 0;
  }
}
.inner{
  display: flex;
  justify-content: center;
}
.item {
  background-color: #0d0d0d;
  padding: 0 20px;
  border: 1px solid #2f2f2f;
  position: relative;
  max-width: 225px;
  padding-bottom: 20px;
  &+&{
    margin-left: 10px;
  }
}
.item__title {
  font-weight: 700;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -60%);
}
.item__price {
  font-weight: 700;
  font-size: 60px;
  padding: 55px 0 50px;
  text-align: center;
}
.item__list {
  margin-bottom: 20px;
}
.item__list__subtitle {
  font-size: 16px;
  margin-bottom: 5px;
}
.item__list__text {
  font-size: 12px;
  opacity: 0.5;
  line-height: 19px;
}
.item__pros {
  display: flex;
}
.item__pros__box {
}
.item__pros__subtitle {
  font-size: 18px;
  opacity: 0.2;
}
.item__pros__text {
  font-size: 12px;
  line-height: 18px;
}
.item__text {
  font-size: 10px;
  opacity: 0.5;
  margin: 30px 0;
  line-height: 14px;
}
.item__button {
  color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  .item__button__warp{
    position: relative;
    background-color: #0d0d0d;
    border: 1px solid #898989;
    padding: 12px 40px;
    font-size: 17px;
    font-weight: 700;
    z-index: 2;
  }
  .item__button__before{
    position: absolute;
    background-color: #3d3d3d;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
  }
  &:hover .item__button__before{
    top: 0;
    left: 0;
  }
}
