.box {
	background-color: #0d0d0d;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 60px 40px 40px;
  width: max-content;
	text-align: center;
	line-height: 30px;
}
.title{
  font-weight: 700;
  font-size: 22px;
}
.text {
	font-size: 19px;
	line-height: 25px;
	padding: 30px 0 50px;
  p {
    font-weight: 700;
  }
}