.authorization {
  min-width: 100vw;
  min-height: 100vh;
  background-repeat: repeat;
}
.authorization-wrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center
}
.authorization-box{
  background: #000;
  position: relative;
  box-shadow: 0px 0px 90px 0px rgba(0, 0, 0, 0.5);
  &+&{
    margin-top: 14px;
  }
  &:last-child{
    padding: 60px 0 60px;
  }
}
.authorization__subtitle {
  font-weight: 700;
  opacity: 0.4;
  font-size: 18px;
  cursor: pointer;
  position: absolute;
  top: 40px;
  right: 40px;
}

.authorization__title {
  font-size: 56px;
  font-family: "Montserrat";
  font-weight: 900;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding: 120px 75px 110px;
}
.authorization__input {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 425px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #333;
  font-family: "Gilroy";
  font-size: 18px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.7);
  padding: 15px;
  outline: none !important;
  text-align: center;

  & + & {
    margin-top: 30px;
  }
}
.authorization__btn {
  width: 200px;
  height: 60px;
  margin: 70px auto 0;
  position: relative;
  .authorization__btn-warp{
    border: 1px solid #898989;
    background-color: #000;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    width: inherit;
    height: inherit;
    position: relative;
    z-index: 2;
    cursor: pointer;
    &:disabled {
      border: 1px solid #1f1f1f;
      color: #1f1f1f;
    }
  }
  .authorization__btn-before {
    content: "";
    position: absolute;
    background-color: #1f1f1f;
    width: inherit;
    height: inherit;
    top: 12px;
    right: 12px;
    z-index: 1;
    transition: all 0.3s;
    cursor: pointer;
  }
  &:hover .authorization__btn-before {
    top: 0;
    right: 0;
  }
  &:hover .authorization__btn-warp:disabled + .authorization__btn-before {
    top: 12px;
    right: 12px;
  }
  &.active{
    margin: 35px auto 0;
  }
}

.authorization__err-msg {
  font-size: 18px;
  border: 1px solid #fff;
  display: block;
  padding: 15px;
  max-width: 350px;
  margin: 35px auto 0;
  opacity: 0.5;
}

.authorization__bg{
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.newpass{
  margin-top: 50px;
  font-weight: 700;
  opacity: 0.4;
  font-size: 18px;
  cursor: pointer;
}