.registration__success-msg {
  font-size: 18px;
  border: 1px solid #fff;
  display: block;
  padding: 15px;
  max-width: 425px;
  margin: 35px auto 0;
  opacity: 0.5;
}
.registration {
  .authorization__subtitle {
    right: unset;
    left: 40px;
  }
  .authorization__btn-signature{
    position: absolute;
    bottom: 80px;
    right: 45px;
    font-size: 10px;
    line-height: 15px;
    opacity: 0.5;
    width: 140px;text-align: left;
  }
  .authorization-box:last-child{
    padding: 60px 0 90px;
  }
}

.сonfirmation__text{
  font-size: 20px;
  line-height: 28px;
}
.сonfirmation .authorization__input{
  margin-top: 60px;
}