.item {
  background-color: #0d0d0d;
  padding: 0 20px;
  border: 1px solid #2f2f2f;
  position: relative;
  max-width: 225px;
  padding-bottom: 20px;
  &+&{
    margin-left: 10px;
  }
}
.title {
  font-weight: 700;
  font-size: 24px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, -60%);
}
.price {
  font-weight: 700;
  font-size: 60px;
  padding: 55px 0 50px;
  text-align: center;
}
.list {
  margin-bottom: 20px;
}
.list__subtitle {
  font-size: 16px;
  margin-bottom: 5px;
}
.list__text {
  font-size: 12px;
  opacity: 0.5;
  line-height: 19px;
}
.pros {
  display: flex;
}
.pros__box {
}
.pros__subtitle {
  font-size: 18px;
  opacity: 0.2;
}
.pros__text {
  font-size: 12px;
  line-height: 18px;
}
.text {
  font-size: 10px;
  opacity: 0.5;
  margin: 30px 0;
  line-height: 14px;
}
.button {
  color: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
  border: none;
  background-color: transparent;
  .button__warp{
    position: relative;
    background-color: #0d0d0d;
    border: 1px solid #898989;
    padding: 12px 40px;
    font-size: 17px;
    font-weight: 700;
    z-index: 2;
  }
  .button__before{
    position: absolute;
    background-color: #3d3d3d;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    top: 5px;
    left: 0;
    z-index: 1;
    transition: all 0.3s;
  }
  &:disabled .button__warp{
    border: 1px solid rgba(137, 137, 137, 0.2);
    color: rgba(255, 255, 255, 0.2);
  }
  &:hover .button__before{
    top: 0;
    left: 0;
  }
  &:disabled:hover .button__before{
    top: 5px;
  }
}